<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Alter Eco.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Alter EcoBackEndTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Alter EcoFullUITest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9CD5946F24296D9200B1D0B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD200B3E23E3885100629E73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD200B5423E3885800629E73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD200B5F23E3885800629E73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
